# MODELO DE REGRESSÃO LOGÍSTICA PARA CLASSIFICAÇÃO

# Quando o crédito deve ser aprovado?


O objetivo  é criar um programa simples que possa prever se um crédito deve ser aprovado ou não, com base em dados de clientes anteriores. O programa deve ajudar o banco a minimizar o risco com futuros clientes.

O modelo utilizado irá prever se um cliente deve ter seu empréstimo aprovado ou não, com base em seu histórico, utilizando regressão logística para classificação.

IMPORTANDO BIBLIOTECAS

In [ ]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sns
import os
import sklearn
from sklearn.model_selection import train_test_split

CARREGANDO BANCO DE DADOS

In [ ]:
data = pd.read_csv('/content/german_credit (1).csv')
data.head()

   Creditability  Account Balance  ...  Telephone  Foreign Worker
0              1                1  ...          1               1
1              1                1  ...          1               1
2              1                2  ...          1               1
3              1                1  ...          1               2
4              1                1  ...          1               2

[5 rows x 21 columns]

ESTATÍSTICAS DESCRITIVAS DOS DADOS

In [ ]:
data.describe()

       Creditability  Account Balance  ...    Telephone  Foreign Worker
count    1000.000000      1000.000000  ...  1000.000000     1000.000000
mean        0.700000         2.577000  ...     1.404000        1.037000
std         0.458487         1.257638  ...     0.490943        0.188856
min         0.000000         1.000000  ...     1.000000        1.000000
25%         0.000000         1.000000  ...     1.000000        1.000000
50%         1.000000         2.000000  ...     1.000000        1.000000
75%         1.000000         4.000000  ...     2.000000        1.000000
max         1.000000         4.000000  ...     2.000000        2.000000

[8 rows x 21 columns]

CORRELAÇÃO DAS VARIÁVEIS

In [ ]:
data.corr()

                                   Creditability  ...  Foreign Worker
Creditability                           1.000000  ...        0.082079
Account Balance                         0.350847  ...       -0.035187
Duration of Credit (month)             -0.214927  ...       -0.134680
Payment Status of Previous Credit       0.228785  ...        0.028554
Purpose                                -0.017979  ...       -0.113244
Credit Amount                          -0.154740  ...       -0.030662
Value Savings/Stocks                    0.178943  ...        0.010450
Length of current employment            0.116002  ...       -0.022845
Instalment per cent                    -0.072404  ...       -0.094762
Sex & Marital Status                    0.088184  ...        0.073103
Guarantors                              0.025137  ...        0.140190
Duration in Current address            -0.002967  ...       -0.039691
Most valuable available asset          -0.142612  ...       -0.132462
Age (years)                             0.091272  ...        0.013981
Concurrent Credits                      0.109844  ...        0.007700
Type of apartment                       0.018119  ...       -0.083336
No of Credits at this Bank              0.045732  ...       -0.018893
Occupation                             -0.032735  ...       -0.092835
No of dependents                        0.003015  ...        0.077071
Telephone                               0.036466  ...       -0.075012
Foreign Worker                          0.082079  ...        1.000000

[21 rows x 21 columns]

Em seguida selecionamos as variáveis  com maior correlação que foram o Saldo da conta, Duração do crédito (mês),Status de pagamento do crédito anterior e separar em um dataframe separado da  variável dependente Creditabilidade.

In [ ]:
x = data[['Account Balance', 'Duration of Credit (month)', 'Payment Status of Previous Credit']]

y = data['Creditability']

DIVISÃO DOS DADOS EM TESTE E TREINO.
80% TESTE 
20% TREINO

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.80, random_state=6)

AJUSTANDO OS DADOS DE TREINAMENTO E APLICANDO MODELO ESTATISTICA PARA GERAR AS PROBABILIDADES.

In [ ]:
import statsmodels.api as sm

In [ ]:
model = sm.Logit(y_train, x_train).fit()

Optimization terminated successfully.
         Current function value: 0.501809
         Iterations 6

In [ ]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Creditability   No. Observations:                  200
Model:                          Logit   Df Residuals:                      197
Method:                           MLE   Df Model:                            2
Date:                Fri, 23 Jul 2021   Pseudo R-squ.:                  0.1785
Time:                        19:08:03   Log-Likelihood:                -100.36
converged:                       True   LL-Null:                       -122.17
Covariance Type:            nonrobust   LLR p-value:                 3.370e-10
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Account Balance                       0.6364      0.146      4.346      0.000       0.349       0.923
Duration of Credit (month)           -0.0500      0.013     -3.986      0.000      -0.075      -0.025
Payment Status of Previous Credit     0.2374      0.146      1.631      0.103      -0.048       0.523
=====================================================================================================
"""

VALORES PREDITO PELO MODELO

In [ ]:
pred_y = model.predict(x_test) 
pred_y.head()

978    0.759170
22     0.487316
909    0.146613
399    0.759170
438    0.559062
dtype: float64

FUNÇÃO PARA TRANSFORMAR EM PROBABILIDADE

In [ ]:
def binary_classify(x): 
    x = round(x, 2)
    if x >= 0.50:
        return 1
    return 0

pred = list(map(binary_classify, pred_y))

ACURÁCIA DO MODELO

In [ ]:
sklearn.metrics.accuracy_score(y_test, pred)

0.7375

O MODELO ACERTOU 73,75% DAS PREVISÕES.

Solução proposta
Para classificar os futuros clientes como aptos ou não a concessão de crédito conforme entrada de dados sobre entradas o saldo da conta, a duração do crédito e a situação de pagamento do crédito atual. O programa então aplicará o modelo anterior e classificará o cliente, informando ao banco se o crédito deve ser aprovado ou não.

FUNÇÃO PREDITIVA BASEADA EM MODELO LOGISTICO - RETORNA PROBABILIDADE

In [ ]:
def log_func(x):
    balance, credit, pay_status = x
    result = (0.6364 * balance) + (-0.05 * credit) + (0.2374 * pay_status)
    return result

def binary_classify(x): 
    x = round(x, 2)
    if x >= 0.50:
        return 1
    return 0

def predict(x): 
    return binary_classify(log_func(x)) 

def print_result(x): 
    if predict(x) == 1:
        return "digno de crédito"
    return "Não digno de crédito"

VERIFICANDO DADOS DE UM CLIENTE ESPECIFICO

In [ ]:
test = data.iloc[97] 
test = test[['Creditability', 'Account Balance', 'Duration of Credit (month)',
      'Payment Status of Previous Credit']]
test

Creditability                         0
Account Balance                       2
Duration of Credit (month)           36
Payment Status of Previous Credit     3
Name: 97, dtype: int64


Dados do cliente:
Podemos ver que o cliente 97 apresentou credibilidade:0,saldo na conta:2, duração do crédito: 36 meses e situação do pagamento 3 . Com esses dados podemos aplicar para verificar se o cliente por fim é digno ou não de crédio.

In [ ]:
input_test = (2, 36, 3) # client data
print('Result: ' + print_result(input_test))

Result: Não digno de crédito


O cliente foi classificado corretamente como não digno de crédito.

ANA PAULA S. VANDERLEY

SALVADOR - 2021